/*-----------------------------------------------------------------------------------*/
/* Title: OptionsFramework Admin Styles
/* Modded by: sy4mil - http://aquagraphite.com
/* License: GPL
/* Credits:	Thematic Options Panel http://wptheming.com/2010/11/thematic-options-panel-v2/
			KIA Thematic Options Panel https://github.com/helgatheviking/thematic-options-KIA
			Woo Themes http://woothemes.com/
			Option Tree http://wordpress.org/extend/plugins/option-tree/
/*-----------------------------------------------------------------------------------*/ 
#of_container textarea, #of_container input[type=text], #of_container input[type=password], #of_container input[type=email], 
#of_container input[type=number], #of_container input[type=search], #of_container input[type=tel], #of_container input[type=url]{
	border:none;
	box-shadow:none;
}

#of_container #of-nav li.backupoptions a {background: url(images/icon-backup.png) no-repeat;}
#of_backup {
	margin: 40px 20px;
	width: 600px;
}
#of_backup textarea {
	margin-bottom: 9px !important;
	background-color: #F1F1F1;
	border: 1px solid;
	width: 100%;
	padding: 4px;
	font-size: 12px;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}

#of_container #content .section-backup .controls { width: 80%}
#of_container #content .section-backup .explain {
    display:none
}
#of_container #content .section-backup .backup-box {
    margin: 0 0 20px;
}

#of_container #content .section-backup .instructions {
    margin: 0 0 25px;
    color: #777;
}
#of_container #content .section-backup .button {
    margin: 0 25px 0 0;
}

.updated, .error {
	display:none!important
} /* disable the admin notices */
#of_container {
	margin: 15px;
	width: 785px;
	position:relative;
	z-index: 0;

}
#of_container #header {
	height: 120px;
	background:#fff;
	border: 1px solid #ddd;
}

.pmc-licence{	
	background:#fff;
	border: 1px solid #ddd;
	padding:10px
	}
	
li.stylingoptions ,.typography{display:none;}
	
#of_container #header .logo {
	float: left;
	margin:12px 20px;
}
#of_container #js-warning {
    color: red;
    float: left;
    margin: 20px 10px;
    width: 330px;
}

.js #of_container #js-warning {
 display: none;
 }

#of_container #header .logo h2 {
	background:#fff url(http://bundler.premiumcoding.com/demo/wp-content/uploads/2016/05/marketeer-logo.png) no-repeat 0px 6px; 
	width: 700px;
	height: 80px;
}
#of_container #header .icon-option {
	float: right;
	height: 32px;
	width: 32px;
	background: url(images/icon_option.png) no-repeat;
	margin:20px 30px 0;
}

#of_container #info_bar {
	background: #f8f8f8;
	border:1px solid #DDD;
	border-width:0px 1px 0px 1px;
	padding: 25px 20px 30px 6px;
	height: 30px;
	text-align: right;
	
}
.wp-core-ui .button-primary, .wp-core-ui .button-primary:hover, .wp-core-ui .button, .wp-core-ui .button-secondary {
	background:#43BACF;
	border:none !important;
	-moz-box-shadow:none; 
	-webkit-box-shadow:none;
	box-shadow:none;
	text-transform:uppercase;
	border-radius:0px ;
	outline:none;
	height:0px;
	line-height:0px;
	padding:18px 12px 18px 12px;
}
.wp-core-ui .button-primary:hover {background:#1d9cb3;}
#of_container #expand_options{
display:none;
}
#of_container  #info_bar .expand { background: url(images/toggle_tabs.png) no-repeat -2px -1px; }
#of_container #info_bar .close { background: url(images/toggle_tabs.png) no-repeat -2px -26px; }
#of_container #expand_options:hover {
	cursor: pointer;
	border-color: #888;
}
#of_container #main {
background-color: #fff;
	border:1px solid #ddd;
}
#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 160px;
	margin-top:7px;
}
#of_container #of-nav li {
	margin-bottom:0;

	margin-right: 1px;
	border-bottom: 1px solid #fff;
}


#of_container #of-nav li.current {
	margin-right: 0;
}

#of_container #of-nav li a, #of_container #of-nav ul li a:link, #of-nav ul li a:visited {
	display: block;
	padding: 11px 10px 12px 40px;
	background-repeat: no-repeat;
	background-position: 13px 12px; 
	text-decoration: none;
	background-color:#ECF0F1;
	color:#929ba1;
	
}
#of_container #of-nav ul li.current a {
	background-color: #43BACF;
	color: #fff;
	opacity: 1;
}

#of_container #of-nav ul li a:hover {
	background-color: #43BACF;
	color: #fff;
	opacity: 1;
}

/*menu icons - customize to your liking*/
#of_container #of-nav li.slideroptions a{ background-image:url(images/icon-slider.png);}
#of_container #of-nav li.headersettings a{ background-image:url(images/icon-slider.png);}

#of_container #of-nav li.generalsettings a{ background-image:url(images/icon-settings.png);}
#of_container #of-nav li.blogpages a{ background-image:url(images/icon-blog.png);}
#of_container #of-nav li.stylingoptions a{ background-image:url(images/icon-paint.png);}
#of_container #of-nav li.exampleoptions a{ background-image:url(images/icon-docs.png);}
#of_container #of-nav li.homepagesettings a, .homepage a{ background-image:url(images/icon-home.png);}
#of_container #of-nav li.import a{ background-image:url(images/import.png);}
#of_container #of-nav li.advertisingblock a{ background-image:url(images/Business-Advertising-icon.png);}
#of_container #of-nav li.woocommercesettings a{ background-image:url(images/cart-admin.png); padding-top:5px;}
#of_container #of-nav li.contentsetting a{ background-image:url(images/icon-docs.png);padding-top:5px;}
#of_container #of-nav li.socialoptions a{ background-image:url(images/icon-social.png);}
#of_container #of-nav li.contactoptions a{ background-image:url(images/icon-contact.png);}
#of_container #of-nav li.errorpage a{ background-image:url(images/icon-404.png);}
#of_container #of-nav li.typography a{ background-image:url(images/icon-text.png);}
#of_container #of-nav li.footeroptions a{ background-image:url(images/icon-footer.png);}
#of_container #of-nav li.portfolioblogoptions a{ background-image:url(images/icon-portfolio.png);}
#of_container #of-nav li.translation a{ background-image:url(images/icon-translation.png);}
#of_container #of-nav li.teampage a{ background-image:url(images/admin-team-icon.png);}
#of_container #of-nav li.themeupdates a{ background-image:url(images/update.png);}
#of_container #content {
	float: left;
	min-height: 700px;
	width: 595px;
	margin-left: -1px;
	padding: 0 14px;

}
#of_container #content .section {
	margin: -1px 0 0px 0;
	padding:0px 10px 0 10px;
	border:1px solid #eee;
}
.section.section-innerheading {margin-top:20px !important;background:#E74C3C;border:1px solid #E74C3C !important;padding:12px 0 0 12px !important;color:#fff;height:30px}
.section.section-innerheading h1 {font-weight:normal;font-size:16px;text-transform:uppercase;margin:0;}
#of_container #content .section h3.heading {

	margin: 10px 0 10px 0;
	padding: 7px 0px;
	border-bottom: 1px solid #e7e7e7;
}
#of_container #content .section .controls {
	float: left;
	width: 590px;
	margin: 0 15px 0 0;
}
#of_container #content .section .explain {
	float: left;
	padding: 0 10px 15px 0;
	font-size: 11px;
}
#of_container #content .section-checkbox .controls {
	width:25px
}

#of_container #content .section-multicheck .controls input.checkbox {
	margin-top:9px;
}

#of_container #content .section-checkbox .explain {
	max-width:93%;
}
#of_container #content .section-color .controls {
	width:125px
}
#of_container #content .section-color .explain {
	width:440px
}
#of_container #content .section-info h3.heading {
	display:none;
}
#of_container #content .section-info .controls {
	margin: 20px 0 20px;
	float:none;
	width: auto;
}
#of_container #content .section-info .controls .of-info{
	padding: 15px 10px;
	line-height: 1.5em;
	font-size: 12px;
	background-color: #EFF9FF;
	border: 1px solid #D6F0FF;
	color:#777;
}

#of_container #content .section-info .controls .of-info ._icon { 
	height:16px; width:16px;
	margin: 0 10px 0 0;
	float: left;
}
#of_container #content .section-info .controls small {
	font-size: 12px
}
#of_container #content .section-info h3.heading {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#of_container #content .section-info .controls {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#of_container #content .section-sorter .controls {
	float: left;
	width: 100%;
	margin: 0;
}

#of_container #content .section-sorter .explain {
	float: left;
	width: 80%;
	margin: 15px 0 0;
}

#of_container  .sorter ul {
	background:#f9f9f9;
	border:1px dashed #e3e3e3;
	min-height: 40px;
	padding:10px 10px 0;
	width: 40%;
	float: left;
	margin: 0 35px 30px 0;
}
#of_container  .sorter ul h3 {
	margin: 0 0 10px;
	text-align: center;
	color: #777;
	text-transform: capitalize;
}
#of_container  .sorter ul li {
	border: 1px solid #DFDFDF;
	cursor: move;
	font-weight: bold;
	margin-bottom:10px;
	padding:0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align:center;
}




#of_container #content .section-sorter li.placeholder {
	background:#dee6e8;
	border-width:1px;
	border-style:dashed;
	height:40px;}
	
#of_container #content .section-slider li.placeholder {
	background:#dee6e8;
	border-width:1px;
	border-style:dashed;
	height:33px;}


#of_container .controls input, #of_container .controls select, #of_container .controls textarea {
	background-color: #ECF0F1;
	width: 340px;
	padding: 8px;
	font-size: 12px;
    outline:0;
	border:0;
}
#of_container .controls input:hover, #of_container .controls textarea:hover {
	background-color: #dee6e8;
}

#of_container .controls input:focus, #of_container .controls textarea:focus { 
	background-color: #dee6e8;
	outline:0;
}

#of_container .controls .upload {
	width: 340px;
}


#of_container .controls select {
	height: 28px;
	padding: 4px 5px;
	width: 340px
}
#of_container .controls textarea {
	width: 345px;
}
#of_container input[type=text] {
	width: 340px;
}
#of_container input.checkbox {
	width: 30px;
	margin-top:3px;
}
#of_container input.of-radio {
	width: 30px;
	margin-bottom:10px;
}
#of_container .controls .input-text-small {
	width: 60px;
	margin-right:10px
}
#of_container .meta-two {
	margin-right:10px
}
#of_container .controls .of-color {
	float:left;
	width: 70px;
	margin-left:5px; /* font-size:20px; height:34px;*/
}
#of_container #content .section-typography .controls {
	width:440px
}
#of_container #content .section-typography .explain {
	width:130px
}
#of_container .controls .of-typography-size {
	width:70px;
	float:left
}
#of_container .controls .of-typography-unit {
	width:60px;
	float:left
}
#of_container .controls .of-typography-face {
	width:145px;
	float:left
}
#of_container .controls .of-typography-style {
	width:95px;
	float:left
}
#of_container .controls .of-radio-img-img {
	border:3px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#of_container .controls .of-radio-img-img:hover {
	opacity:.8;
}

#of_container .controls .of-radio-tile-img {
	width:50px;
	height:50px;
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .of-radio-tile-selected {
	border:3px solid #ccc
}
#of_container .controls .of-radio-tile-img:hover {
	opacity:.8;
}

#of_container .controls .of-border-width {
	width:70px;
	float:left
}
#of_container .controls .of-border-style {
	width:95px;
	float:left
}
#of_container .group {
	display:none;
	padding-bottom:20px;
}
#of_container .group h2 {
	margin-top:20px !important;background:#E74C3C;border:1px solid #E74C3C !important;padding:7px 0 5px 10px !important;color:#fff;height:30px;
	text-transform:uppercase;font-size:16px;
}
#of_container .group .option .controls h2 {
	  display:none;
	border-bottom:3px solid #e7e7e7
}

#of-option-generalsettings h2, #of-option-contentsetting h2, #of-option-translation h2 {display:none;}
#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {
	background:#dee6e8;
}

#of_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .warning {
	background: #ffeeee no-repeat 10px center;
	;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .of-save-popup {
	position:absolute;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:24px;
	text-align:center;
	display:none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#of_container .of-save-popup div{
	background-repeat: no-repeat;
	background-position: 20px 50%;
	padding:30px 30px 30px 60px;
}
#of_container .of-save-save {
	background-image: url(images/button_check.png);
}
#of_container .of-save-reset {
	background-image: url(images/sign_warning.png);
}
#of_container .of-save-fail {
	background-image:url(images/stop.png);
}

#of_container .accept,
#of_container .warning,
#of_container .update_available,
#of_container .of-save-popup {
	z-index: 9999;
}

#of_container .upload_button_div {
	margin-top:7px;
	margin-bottom: 15px;
}

#of_container .button {
border:none;
background-color: #43BACF;
border-radius:0px;
color:#fff;
text-transform:uppercase;
margin:4px 0 4px;
}


#of_container .button:hover,#of_container .button_hover {
background:#1d9cb3;
}

#of_container .button_active {
    background:#eee url(../images/white-grad-active.png) repeat-x scroll left top;
}


#of_container .image_reset_button, #of_container .mlu_remove_button {
	margin-left:10px;
}


#of_container .upload-error {
	float:left;
	color:#666;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0 #FFFFFF;
	margin: 0 10px 0 0;
	padding:3px 10px;
	background:#FFDFEC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#of_container .reset-button {

	display:none;
}

#of_container .slide_add_button { margin-top:10px; }


#of_container .save_bar {
	background: #fff;
	border:solid #ccc;
	border-width:0px 1px 1px 1px;
	padding: 20px 20px 20px 20px;
	height: 35px;
	text-align: right;
}

#of_save {
	padding: 5px 10px;
	height: 36px;
	float:right;
}

#of_container .hide {
	display:none
}
#of_container .ajax-loading-img-top {
	margin: 5px 4px 0;
	float:left
}
#of_container .ajax-loading-img-bottom {
	margin: 5px 4px 0;
}

#of_container .screenshot { 
	max-width:340px;
	margin-bottom:9px;
}

#of_container .of-uploaded-image {
	
}

#of_container .of-option-image {
	max-width:340px;
	padding: 5px;
	border:1px solid #e3e3e3;
	background:#f7f7f7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#of_container .of-option-image.small {
	max-width:40px;

}
#of_container .select_wrapper {
font-size: 12px;
background: #ECF0F1 url(images/select.png) no-repeat right center;
float: left;
height: 34px;
width: 344px;
margin: 0;
margin-bottom: 5px !important;
width: 340px;
display: block;
color: #888;
position:relative;
}

#of_container .select_wrapper:hover {}

#of_container .mini .controls select, #of_container #content .section .mini .controls, #of_container  .controls .typography-size, #of_container  .controls .border-width,#of_container  .controls .mini,#of_container .mini .controls input, #of_container #content .mini .controls {width: 95px;}
#of_container  .controls .typography-face {width: 340px;}
#of_container  .controls .typography-style, #of_container  .controls .border-style {width: 95px;}
#of_container  .controls .typography-size,#of_container  .controls .typography-face,#of_container  .controls .typography-style, #of_container  .controls .border-width, #of_container  .controls .border-style {margin-right:5px;}

#of_container #content .mini .explain {
	width:500px;
}
#of_container .of-notice {
	background: #ffd1d1;
	border:1px solid #DFDFDF;
	-moz-border-radius:8px;
	text-align: center;
	margin-bottom: 15px
}

#of_container .slider li {
	width: 570px;
	background:#d0d7dc;
	overflow:hidden;
}

#of_container .slide_header {
	cursor:move;
	height:40px;
	padding-left:10px;
	line-height:40px;
	background-color: #BDC3C7;
	overflow:hidden;
	color:#fff;
}
#of_container label {color:#fff;}
#of_container .slide_body {
	display:none;
	padding:10px 10px 10px 11px;
}


#of_container .slider li input,#of_container .slider li textarea,#of_container .slider li .screenshot,#of_container .slider li .of-option-image {
	width:550px;
}

#of_container .slider li textarea{height:300px;}

#of_container a.slide_edit_button, #of_container a.slide_delete_button {
	float:right;
	text-indent:-9999px;
	font-size:0;
}
#of_container a.slide_edit_button { 
	width:32px;
	height:32px;
	background: url(images/dropdown-arrow.png) no-repeat 9px -25px;}
	#of_container a:hover.slide_edit_button {
	opacity:0.75;}
	
#of_container a.slide_delete_button { 
	margin: 5px 0 0 7px;
	width:16px;
	height:16px;
	background: url(images/icon-delete.png) no-repeat}

#of_container .select_wrapper span {
height: 34px;
line-height: 34px;
z-index: 2;
padding-left: 6px;
position:absolute;
left:0;
}

#of_container .select_wrapper .select {
cursor: pointer;
height: 28px;
margin: 0;
-moz-opacity: 0;
filter: alpha(opacity: 0);
opacity: 0;
padding: 0;
position: relative;
width: inherit;
z-index: 4;	
}

#of_backup {
	margin: 40px 20px;
	width: 600px;
}
#of_backup textarea {
	margin-bottom: 9px !important;
	background-color: #F1F1F1;
	border: 1px solid;
	width: 100%;
	padding: 4px;
	font-size: 12px;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}
/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*socila*/
#socialicons img {width:50px !important}

/*-------------------------------------------------------------------------------------------*/
/* SHORTCODES */
/*-------------------------------------------------------------------------------------------*/


.wp-core-ui .button-primary, #of_container #of-nav li a, #of_container .button {-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;}
	
/*import*/
a.import {background:#E74C3C; padding:10px;color:#fff;cursor:pointer; margin-top:30px !important; float:right}
a.import:hover {text-decoration:underline;}

#of_container h1{padding:0; margin-bottom:5px; line-height:20px}/* LICENSE */.pmc-licence h2 {background:#222;color:#fff;padding:10px;text-transform:uppercase;font-size:16px;}
#of_container .pmc-licence input.regular-text {background:#1FBCF1 !important;color:#fff !important;border-radius:3px; padding:7px 12px; }
.pmc-licence .button-secondary, .pmc-licence .button-primary {background:#1FBCF1 !important;color:#fff !important;border-radius:3px;}
.pmc-licence input.regular-text :hover, .pmc-licence .button-secondary:hover, .pmc-licence .button-primary:hover {opacity:0.75;}
.pmc-licence{	background:#fff;border: 1px solid #ddd;padding:10px}

.logo .notice {display:none} 

input.of-input.of-radio, .checkbox.of-input {width:10px !important}
h1{color:#fff}